<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="{% static "AplicacionPracticas1/fontawesome/css/all.min.css" %}" rel="stylesheet" />
    <link href="{% static "AplicacionPracticas1/css/templatemo-comparto.css" %}" rel="stylesheet" />
    <link href="{% static "AplicacionPracticas1/css/EstiloGeneral.css" %}" rel="stylesheet" />
    <link href="{% static "AplicacionPracticas1/css/sidebars.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/variable-pie.js"></script>




    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



    <title>Panel KPIs</title>
    <style> .tm-bg-color-4 { background-color: #23415b; }
            .tm-text-white {text-align: center; font-size: 32px}
    </style>
    <script src="https://kit.fontawesome.com/1ea27fe485.js" crossorigin="anonymous"></script>
<!--

Comparto TemplateMo

https://templatemo.com/tm-544-comparto

-->
</head>



<body>
<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">Prácticas ECIEM</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
     <li>
       <a href="{% url "index" %}">
         <i class='bx bx-pie-chart-alt-2'></i>
         <span class="links_name">Panel General</span>
       </a>
       <span class="tooltip">Panel General</span>
     </li>
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Panel Específico</span>
        </a>
         <span class="tooltip">Panel Específico</span>
      </li>
      <li>
       <a href="#" style="background-color: white">
         <i class='bx bx-bar-chart-square' style="color: #333333"></i>
         <span class="links_name" style="color: #333333">Panel KPIs</span>
       </a>
       <span class="tooltip">Panel KPIs</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Configuración</span>
       </a>
       <span class="tooltip">Configuración</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <i class='bx bx-user' ></i>
           <div class="name_job">
             <div class="name">Paola Maldonado</div>
             <div class="job">Secretaria</div>
           </div>
         </div>
         <i class='bx bx-log-out' id="log_out" ></i>
     </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="container-fluid">
    <div class="row d-flex justify-content-center" style="padding-top: 5px;">

        <div class="col-lg-3 mx-4" style="height: 500px;">
            <div id="containerPie" style="height: 270px;"></div>
            <div id="containerPolar" style="height: 230px;"></div>
        </div>
        <div class="col-lg-4 mx-2" style="height: 500px;">
            <div id="containerLines" style="height: 270px;"></div>
            <div id="containerDobleBarras" style="height: 250px;"></div>
        </div>
        <div id="containerRubros" class="col-lg-4 mx-2" style="height: 520px;"></div>

    </div>
</div>
          <script type="application/javascript">
            (function (H) {
                H.seriesTypes.pie.prototype.animate = function (init) {
                    const series = this,
                        chart = series.chart,
                        points = series.points,
                        {
                            animation
                        } = series.options,
                        {
                            startAngleRad
                        } = series;

                    function fanAnimate(point, startAngleRad) {
                        const graphic = point.graphic,
                            args = point.shapeArgs;

                        if (graphic && args) {

                            graphic
                                // Set inital animation values
                                .attr({
                                    start: startAngleRad,
                                    end: startAngleRad,
                                    opacity: 1
                                })
                                // Animate to the final position
                                .animate({
                                    start: args.start,
                                    end: args.end
                                }, {
                                    duration: animation.duration / points.length
                                }, function () {
                                    // On complete, start animating the next point
                                    if (points[point.index + 1]) {
                                        fanAnimate(points[point.index + 1], args.end);
                                    }
                                    // On the last point, fade in the data labels, then
                                    // apply the inner size
                                    if (point.index === series.points.length - 1) {
                                        series.dataLabelsGroup.animate({
                                            opacity: 1
                                        },
                                        void 0,
                                        function () {
                                            points.forEach(point => {
                                                point.opacity = 1;
                                            });
                                            series.update({
                                                enableMouseTracking: true
                                            }, false);
                                            chart.update({
                                                plotOptions: {
                                                    pie: {
                                                        innerSize: '40%',
                                                        borderRadius: 8
                                                    }
                                                }
                                            });
                                        });
                                    }
                                });
                        }
                    }

                    if (init) {
                        // Hide points on init
                        points.forEach(point => {
                            point.opacity = 0;
                        });
                    } else {
                        fanAnimate(points[0], startAngleRad);
                    }
                };
            }(Highcharts));

                    Highcharts.chart('containerPie', {
            chart: {
                type: 'pie',
                height: '235'
            },
            title: {
                text: 'Carreras',
                align: 'center'
            },
            subtitle: {
                text: '',
                align: 'center'
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    borderWidth: 2,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b><br>{y}',
                        distance: 20,
                        style: {
                                fontSize: '14px'
                            }
                    }
                }
            },
            credits: {
                    enabled: false
            },
            series: [{
                // Disable mouse tracking on load, enable after custom animation
                enableMouseTracking: false,
                animation: {
                    duration: 400
                },
                colorByPoint: true,
                data: [{
                    name: 'IICG',
                    color: '#80A2BF',
                    y: {{ barra_iicg }}
                }, {
                    name: 'IC',
                    color: '#BF5E26',
                    y: {{ barra_ic }}
                }]
            }]
        });
        </script>
        <script type="application/javascript">
                    Highcharts.chart('containerPolar', {

            chart: {
                polar: true,
            },

            title: {
                text: 'Modalidad'
            },

            pane: {
                startAngle: 0,
                endAngle: 360
            },

            xAxis: {
                tickInterval: 120,
                min: 0,
                max: 360,
                lineColor: '#CCCCCC',
                labels: {
                    formatter: function () {
                        if (this.value === 0) {
                            return 'Híbrido';
                        } else if (this.value === 120) {
                            return 'Remoto';
                        } else if (this.value === 240) {
                            return 'Presencial';
                        } else {
                            return '';
                        }
                    }
                }
            },

            yAxis: {
                min: 0
            },
            credits: {
                    enabled: false
            },

            plotOptions: {
                series: {
                    pointStart: 0,
                    pointInterval: 120
                },
                column: {
                    pointPadding: 0,
                    groupPadding: 0
                },
            },
            legend: {
                enabled: false
            },
            series: [{
                type: 'area',
                name: '',
                color: '#00C2AB',
                data: [4, 3, 7]
            }]
        });
        </script>
        <script type="application/javascript">
            Highcharts.chart('containerLines', {
            title: {
                text: 'Resultados',
                align: 'center'
            },

            xAxis: {
                accessibility: {
                    rangeDescription: ''
                }
            },
            yAxis: {
                title: {
                    enabled: false
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 2010
                }
            },

            credits: {
                    enabled: false
            },

            series: [{
                name: 'Aprobadas',
                color: 'green',
                data: [43934, 48656, 65165, 81827, 112143, 142383,
                    171533, 165174, 155157, 161454, 154610]
            }, {
                name: 'Reprobadas',
                color: 'red',
                data: [24916, 37941, 29742, 29851, 32490, 30282,
                    38121, 36885, 33726, 34243, 31050]
            }, {
                name: 'Canceladas',
                color: 'orange',
                data: [11744, 30000, 16005, 19771, 20185, 24377,
                    32147, 30912, 29243, 29213, 25663]
            }],
            legend: {
                enabled: false
            },

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
        </script>
        <style>
            .highcharts-navigator {
                display: none !important;
            }
        </style>
          <script type="application/javascript">
            Highcharts.chart('containerDobleBarras', {

            chart: {
                type: 'column'
            },

            title: {
                text: 'Tamaño y Sector',
                align: 'center'
            },

            xAxis: {
                categories: ['Micro', 'Pequeña', 'Mediana', 'Grande']
            },

            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    enabled: false
                }
            },

            tooltip: {
                format: '<b>{key}</b><br/>{series.name}: {y}<br/>' +
                    'Total: {point.stackTotal}'
            },
            legend: {
                enabled: false
            },

            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },
            credits: {
                    enabled: false
            },

            series: [{
                name: 'Pública',
                color: '#C2004C',
                data: [148, 133, 124, 70],
            }, {
                name: 'Privada',
                color: '#0082C2',
                data: [102, 98, 65, 50],
            },
            ]
        });
        </script>
        <script type="application/javascript">
        Highcharts.chart('containerRubros', {
            colors: ['#5800C2'],
            chart: {
                type: 'column',
                inverted: true,
                polar: false
            },
            title: {
                text: 'Rubros',
                align: 'center'
            },
            tooltip: {
                outside: true
            },
            pane: {
                size: '85%',
                innerSize: '20%',
                endAngle: 270
            },
            xAxis: {
                tickInterval: 1,
                labels: {
                    align: 'center',
                    useHTML: true,
                    allowOverlap: true,
                    step: 1,
                    y: 3,
                    style: {
                        fontSize: '13px'
                    }
                },
                lineWidth: 0,
                gridLineWidth: 0,
                categories: [
                    'Agropecuaria-Silvícola <span class="f16"><span id="flag" class="flag no">' +
                    '</span></span>',
                    'Construcción <span class="f16"><span id="flag" class="flag us">' +
                    '</span></span>',
                    'Pesca <span class="f16"><span id="flag" class="flag de">' +
                    '</span></span>',
                    'Trasportes y Comunicaciones  <span class="f16"><span id="flag" class="flag at">' +
                                '</span></span>',
                    'Industria Manufactura <span class="f16"><span id="flag" class="flag at">' +
                                '</span></span>',
                    'Electricidad, Gas y Agua <span class="f16"><span id="flag" class="flag at">' +
                                '</span></span>',
                    'Administración Pública <span class="f16"><span id="flag" class="flag at">' +
                                '</span></span>',
                    'Comercio, restaurantes y hoteles <span class="f16"><span id="flag" class="flag at">' +
                                '</span></span>',
                    'Servicios Personales <span class="f16"><span id="flag" class="flag at">' +
                                '</span></span>',
                    'Minería <span class="f16"><span id="flag" class="flag at">' +
                                '</span></span>',
                    'Servicios Financieros y Empresariales <span class="f16"><span id="flag" class="flag at">' +

                    '</span></span>',
                    'Propiedad de Vivienda <span class="f16"><span id="flag" class="flag ca">' +
                    '</span></span>'
                ]
            },
            yAxis: {
                lineWidth: 0,
                tickInterval: 25,
                reversedStacks: false,
                endOnTick: true,
                showLastLabel: true,
                gridLineWidth: 0,
                title: {
                    enabled: false
                }

            },
            credits: {
                    enabled: false
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    borderWidth: 0,
                    pointPadding: 0,
                    groupPadding: 0.15,
                    borderRadius: '50%'
                }
            },
            series: [{
                name: '',
                showInLegend: false,
                data: [148, 113, 104, 71, 77, 33,54,21,24,65,23,11]
            },]
        });
        </script>
        <div class="estudiante">
                <div class="container" style="border-radius: 80px; padding-top: 8px">
                    <table class="table" style="display: inline;">
                        <tr>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <th scope="col"> {{ form_buscador.as_p }}</th>
                                <th scope="col">
                                    <button type= "submit" style="display: inline; border: none; outline: none; box-shadow: none; background-color:white">
                                        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                                    </button>
                                </th>
                                <th scope="col" style="color: white"><b>||||||</b></th>
                                <th scope="col"><b>{{ form_carrera.as_p }}</b></th>
                                <th scope="col"><b>{{ form_modalidad.as_p }}</b></th>
                                <th scope="col"><b>{{ form_sector.as_p }}</b></th>
                                <th scope="col"><b>{{ form_tamano.as_p }}</b></th>
                                <th scope="col"><b>{{ form_rubro.as_p }}</b></th>
                                <th scope="col">
                                    <button type= "submit" style="border: none; outline: none; box-shadow: none; background-color:white">
                                    <i class="fa-solid fa-filter fa-lg"></i>
                                </button></th>
                            </form>
                        </tr>
                    </table>
                </div>
                <div class="container" style="padding-top: 30px">
                    <table class="table">
                      <thead class="bg-grey" style="background-color: #f5f5f5">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">RUT</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Carrera</th>
                            <th scope="col">Modalidad</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for a in estudiantePractica%}
                            <tr>
                                <td>{{ a.id_practica }}</td>
                                <td>{{ a.rut_persona.rut_persona }}</td>
                                <td>{{ a.rut_persona.nombre_persona }}</td>
                                <td>{{ a.rut_persona.usuario.carrera }}</td>
                                <td>{{ a.get_modalidad_display }}</td>

                                    <td><a href="{% url "listaPractica" a.id_practica %}" class="btn btn-outline-primary">Ver</a></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
        </div>
    </div>
  </section>
    <div class="modal fade" id="crearPractica" tabindex="-1" aria-labelledby="crearPracticaLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h1 class="modal-title fs-5 w-100" style="text-align: center"  id="crearPracticaLabel">Nueva Practica</h1>
                  </div>
                  <div class="modal-body" style="text-align: right">
                      <form method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                            {% for field in form_crear %}
                                <div class="mb-3" style="background-color: white">
                                    {% if field.help_text %}
                                        <p class="help-text" style="margin-top: -1.1em">{{ field.help_text }}</p>
                                    {% else %}
                                        <p class="help-text" style="margin-top: 1.2em">{{ field.help_text }}</p>
                                    {% endif %}
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                          <div class="modal-footer" >
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              <button type="submit" class="btn btn-primary">Crear</button>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");
  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });
  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });
  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
  </section>
</body>
</html>